<div class="card-form">
  <h3>Book an Imaginanny</h3>

  <%= simple_form_for [@character, @booking], html: { class: 'booking-form' } do |f| %>
    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :start_time, class: 'form-control', as: :time, :minute_step => 15 %>
    </div>

  <div class="form-group">
    <%= f.input :end_time, class: 'form-control', as: :time, :minute_step => 15 %>
  </div>

    <div class="form-group">
      <%= f.submit "Book", class: "btn" %>
    </div>
  <% end %>

</div>
