<%= simple_form_for [@character, @booking] do |f| %>
  <p>Date: <%= f.date_field :date %></p>
  <p>Start time: <%= f.time_field :start_time %></p>
  <p>End time: <%= f.time_field :end_time %></p>
  <%= f.submit "Save", class:"btn" %>
<% end %>
