<html>
<head>
  <title>Your Website</title>
  <!-- Include your CSS and other header content here -->
</head>
<body>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner banners">
    <div class="carousel-item active">
      <%= image_tag("banner1.png") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("banner2.png") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("banner3.png") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("banner4.png") %>
    </div>
  </div>
</div>




<div class = "container">
<div class ="text">
<p>Popular Searches</p>
</div>
  <div class="row">
      <div class="cardContainer">
      <% @random_characters.each do |character| %>
          <div class="card col-lg-4">
            <div class="card-image"
                style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <%= image_tag character[:photo], height: 250 %>
            </div> <!-- fin card-image -->
              <div class="card-description">
                       <p><strong id="name"><td><%= character[:character_name]%></td></strong></p>
                <p><td><%= character[:price]%></td></p>
              </div>
              <div class="card-price">
              </div>

            </div>
 <% end %>
            </div>
</div>
</div>
</div>
<!-- Your main content for the home page goes here -->
</body>
</html>
