<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Looking for an imaginnany!</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5">All Imaginannys</h1>
    <p>Filter your search</p>
    <%= simple_form_for :filter, url: characters_path, method: :get do |f| %>
      <%= f.input :category, collection: %w[Villains Disney Pixar Marvel DC Action Books Family] %>
      <%= f.input :max_price, input_html: {placeholder: "Max price"} %>
      <%= f.submit "Filter", class:"btn" %>
    <% end %>

    <%# Displaying the characters %>
    </div>

    <div class = "container">
      <div class ="text">
      <% if @characters.any? %>
        <div class="row">
      <div class="cardContainer">
      <% @characters.each do |character| %>
        <%= link_to character_path(character), class: "card-links" do %>
          <div class="card col-lg-4">
            <div class="card-image"
                style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <%= image_tag character.photo, height: 250, gravity: :face %>
            </div> <!-- fin card-image -->
              <div class="card-description">
                <p><strong id="name"><td><%= character.character_name %></td></strong></p>
                <p id="category"><%= character.category %></p>
                <p id="description"><%= character.description.split(/[.!]/).first.strip %></p>
                <div id="price">
                  <p><td><%= character.price %>€/h</td></p>
                </div>
              </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
          </div>
      <% else %>
        <h4>No characters found.</h4>
      <% end %>
    </div>
</body>
</html>
