<h1>Characters#index</h1>
<p>Find me in app/views/characters/index.html.erb</p>


<div class="container">
  <%= simple_form_for :filter, url: characters_path, method: :get do |f| %>
    <%= f.input :category, collection: %w[Villains Disney Pixar Marvel DC Action Books Family] %>
    <%= f.input :max_price, input_html: {placeholder: "Max price"} %>
    <%= f.submit "Filter" %>
  <% end %>

  <%# Displaying the characters %>

  <% if @characters.any? %>
    <div class="cards">
      <% @characters.each do |character| %>
        <div class="cards">
          <%= character.character_name %>
          <%= character.category %>
          <%= character.description %>
          <%= character.price %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4>No characters found.</h4>
  <% end %>
</div>
