<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My character</title>
</head>

<body>
  <div class="container">

    <h1 class="mt-5 mb-5"><%= @character.character_name %></h1>
    <div class="show_content">
      <div class="show_img">
        <%= image_tag @character.photo.url%>
      </div>
      <div class="description">
        <div>
          <p><strong>Description: </strong></p>
          <p><%= @character.description %></p>
        </div>
        <div>
          <p><strong>Category:</strong></p>
          <p><%= @character.category %></p>
        </div>
        <div>
          <p><strong>Price:</strong></p>
          <p><%= @character.price %>€/hour</p>
        </div>
      </div>

   
    </div>
    <%= render "bookings/form", booking: @booking %>
    <%= render "shared/flashes" %>
    <div>

    <h3 id="review-title">What others people have said about <%= @character.character_name %></h3>

      <% @character.bookings.each do |booking| %>
        <% if booking.review.present? %>
          <%= booking.review.content %>
        <p><%= '⭐️' * booking.review.rating %></p>
        <% else %>
          <p>There isn't any reviews about <%= @character.character_name %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</body>
</html>
