<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My character</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5 mb-5">New sitter</h1>
    <div>
      <%= image_tag @character.photo.url, height: 250 %>
      <p>I am <strong><%= @character.character_name %></strong> </p>
      <p><strong>Description: </strong></p>
      <p><%= @character.description %></p>
      <p><strong>Category:</strong></p>
      <p><%= @character.category %></p>
      <p><strong>Price:</strong></p>
      <p><%= @character.price %>€/hour</p>
    </div>
<%= render "bookings/form", booking: @booking %>
<%= render "shared/flashes" %>
  </div>
</body>
</html>
