<div class="container">
  <h1>My Profile</h1>

  <ul class="nav nav-pills" data-controller="toggle">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" data-action="click->toggle#tab">My infos</a>
      <div class="tab-info" data-toggle-target="tabInfo">
        <div class="user" data-controller="toggle">
          <div class="user-details" data-toggle-target="detail">
            <p><%= current_user.first_name  %></p>
            <p><%= current_user.last_name  %></p>
            <p><%= current_user.address %></p>
            <p><%= current_user.email  %></p>
            <p><%= current_user.phone_nr  %></p>
            <button class="btn btn-primary" data-action="click->toggle#fire">Edit</button>
          </div>

          <div class="user-change d-none" data-toggle-target="form">
            <%= render 'devise/registrations/edit'  %>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-action="click->toggle#tab">Bookings</a>
      <div class="tab-bookings d-none" data-toggle-target="tabBooking">
        <ul>
          <% @bookings.each do |booking| %>
          <li>
            <%= booking.date %>
            <%= booking.character.character_name %>
          </li>
          <% end %>
        </ul>
      </div>
    </li>
  </ul>
  <%= render "devise/registrations/cancel" %>
</div>
