
  <div class="image_container">
  <div class="profile-image">
    <%=image_tag "mother.jpeg", class:"profile"%>
  </div>
<div class="container">


  <h1>My Profile</h1>


  <ul class="nav nav-pills" data-controller="toggle">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" data-action="click->toggle#tab" id="details">My Details</a>
      <div class="tab-info" data-toggle-target="tabInfo">
        <div class="user" data-controller="toggle">
          <div class="user-details" data-toggle-target="detail">
            <p><%= current_user.first_name  %></p>
            <p><%= current_user.last_name  %></p>
            <p><%= current_user.address %></p>
            <p><%= current_user.email  %></p>
            <p><%= current_user.phone_nr  %></p>
            <button class="btn" data-action="click->toggle#fire">Edit</button>
             <a href="characters/new"><button class="character_btn">Create Character</button></a>
          </div>
          <div class="user-change d-none" data-toggle-target="form">
            <%= render 'devise/registrations/edit'  %>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-action="click->toggle#tab" id="bookings">My sitters</a>
      <div class="tab-bookings d-none" data-toggle-target="tabBooking">
        <ul>
        <% if @bookings.any? %>
          <% @bookings.each do |booking| %>
          <li>
            <%= booking.date %>
            <%= booking.character.character_name %>
          </li>
          <% end %>
        <% else %>
          <p class="booking_txt">You have no Bookings</p>
        <% end %>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-action="click->toggle#tab" id="bookings">My Bookings</a>
      <div class="tab-my-bookings d-none" data-toggle-target="tabMyBooking">
        <ul>
        <% if @my_bookings.any? %>
          <% @my_bookings.each do |booking| %>
          <li>
            <%= booking.date %>
            <%= booking.character.character_name %>
          </li>
          <% end %>
        <% else %>
          <p class="booking_txt">You have no bookings</p>
        <% end %>
        </ul>
      </div>
    </li>
  </ul>
  <div class="container_cancel">
  <%= render "devise/registrations/cancel" %>
  </div>
</div>
